.overlay {
    opacity: 0;
    z-index: $z-under;
    background-color: $white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: $transition;
}

.overlay.is-active {
    opacity: 1;
    z-index: $z-top;
    transition: $transition;
}

.overlay-close {
    position: absolute ;
    right: rhythm(0);
    top: rhythm(0);
    height: 44px;
    width: 44px;
    // color: $black;
    // font-size: 1.5rem;

    color: $black;
    float: right;
    width: 3rem;
    height: 3rem;
    transition: left .3s ease .3s, border .3s ease 0s;
    transition-delay: .1s;
    position: relative;
    border-color: transparent;
    transition: left .3s ease, border .3s ease .3s;

}

.overlay-close .bars {
    background-color: transparent;
}

.overlay-close .bars::before {
    transform: rotate(45deg);
    top: 0;
}

.overlay-close .bars::after {
    transform: rotate(-45deg);
    top: 0;
}

.bars {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bars,
.bars::before,
.bars::after {
    display: block;
    cursor: pointer;
    height: 3px;
    width: 1.5rem;
    border-radius: 1rem;
    background-color: $black;
    position: absolute;
    color: transparent;
    transition: all .3s ease;
}

.bars::before {
    content: '';
    top: 8px;
}

.bars::after {
    content: '';
    top: -8px;
}

.overlay-content {
    padding: rhythm(8);
}
