        </div>

        <div class="overlay">

            <a class="overlay-close js-overlay-trigger" href="#">
                <span class="bars">Menu</span>
            </a>

            <div class="overlay-content center">
                <h2 class="olive">Gen In Touch</h2>
                <p>To get in contact with commissions or questions send an email.</p>
                <p><a class="link" href="mailto:nancycrewe@gmail.com">nancycrewe@gmail.com</a></p>
            </div>
            
        </div>

    </body>

    <script type="text/javascript" src="{{ .Site.BaseURL }}js/app.min.js"></script>
</html>
